<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="{% url 'home' %}">Technical Stock Analysis</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav ml-auto">
        <a class="nav-item nav-link" href="{% url 'home' %}">Predict<span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link" href="{% url 'visualizeCases' %}">Analysis</a>
        <a class="nav-item nav-link active" href="{% url 'aboutus' %}">About Us</a>0
.
      </div>
    </div>
  </nav>
</header>

<section class="jumbotron text-center">
  <div class="container">
    <h1>Stock Market Analysis</h1>

  </div>
</section>

<br><br>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Highest</th>
      <th scope="col">Lowest</th>
      <th scope="col">Closing</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Random Forest</th>
      <td>{{rhigh}}</td>
      <td>{{rlow}}</td>
      <td>{{rclose}}</td>
    </tr>
    <tr>
      <th scope="row">Decision Tree</th>
      <td>{{dhigh}}</td>
      <td>{{dlow}}</td>
      <td>{{dclose}}</td>
    </tr>
    <tr>
      <th scope="row">SVR</th>
      <td>{{shigh}}</td>
      <td>{{slow}}</td>
      <td>{{sclose}}</td>
    </tr>
  </tbody>
</table>

<footer class="text-muted">
  <div class="container text-center">
      <p>© Tejan Gavandi {% now "Y" %}</p>
  </div>
</footer>
